<!DOCTYPE html>


<html lang="en" >
<!--------------------------------------------------------------------->
<!-- -------------------------------------------------------------------->

  <head>
    <meta charset="utf-8">
    <title>student</title>
    <style>
            body {font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box;}

            input[type=text], select, textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              resize: vertical;
            }

            input[type=submit] {
              background-color: #04AA6D;
              color: white;
              padding: 12px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }

            input[type=submit]:hover {
              background-color: #45a049;
            }

            .container {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }

            <!------------------------------------------for two colmn->
              * {
                    box-sizing: border-box;
                  }

                  .row {
                    display: flex;
                  }

                  /* Create two equal columns that sits next to each other */
                  .column {
                    flex: 50%;
                    padding: 10px;
                    height: 140px; /* Should be removed. Only for demonstration */
                  }


      </style>


  </head>

<!-- --------------------------------------------------------------------->
<!-- --------------------------------------------------------------------->

  <body style="background-color: #6abadeba;color;opacity:1;">

    <div class="">


      <hr style="height:2px;background-color:gray;color:gray;border-width:0;">
    </div>

    <div class="">

      <p style="text-align: center;" > <b>Fill your Records</b> </p>
      <hr style="height:3px;background-color:gray;color:gray;border-width:0;width:30%;margin-left:100">

    </div>

    <!------------------------------------------------>
    <!--  formstart -->


      <div class="container">
          <form action="api/" method="post" enctype="application/json">
           {% csrf_token %}
                <label for="name">Your Name</label>
                <input type="text" id="yname" name="name" placeholder="name..">


                <label for="fname">Father Name</label>
                <input type="text" id="fname" name="father" placeholder="father name..">


              <br><br><br>
              <label for="email"> Enter your email:</label>
              <input type="email" id="email" name="email">
              <br><br>



                <br>

                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" placeholder="your phone..">

                <input type="submit" value="Submit">
          </form>
      </div>

    <!--------------------------------------------------------------------->
    <!--  formend -->

    <hr style="height:2px;background-color:gray;color:gray;border-width:0;">


    <div class="">

      <form action="show" method="get">
    <!--   <input type="hidden" name="show_name"  />    -->
      <input type="submit" value="show all recods"/>
      </form>

    </div>

  </body>

  <!-- -------------------------------------------------------------------->
  <!-- --------------------------------------------------------------------->

</html>
