<!DOCTYPE html>
<html>

<head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>


<body>

<h2>Records Table</h2>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>father-name</th>
    <th>email</th>
    <th>phone</th>
    <th>option</th>
  </tr>

  {%   for d in data    %}
  <tr>

    <td>{{d.id}}</td>
    <td>{{d.name}}</td>
    <td>{{d.father}}</td>
    <td>{{d.email}}</td>
    <td>{{d.phone}}</td>
    <td>
        <a href="">Edit</a>



              <form action="/api/{{d.id}}" method="DELETE">
              <input type="submit" value="Delete"/>
              </form>


    </td>





  </tr>

  {%   endfor    %}

</table>


<hr><hr>

<h2>Tables</h2>



</body>
</html>
